body {
  background-image: url("background.png");
  background-repeat: repeat;
}

#gameTitle {
  text-align: center;
  padding-top: 50px;
  font-size: 3em;
  font-family: Courgette;
  color: gold;
  text-shadow: 2px 2px black;
}

h2 {
  text-align: center;
  font-family: Courgette;
  color: gold;
  text-shadow: 2px 2px black;
}

#chooseClassH2 {
  margin-top: 175px;
}

#characterName {
  position: absolute;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  padding: 12px 0px;
  width: 350px;
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 1.3em;
  color: gold;
  text-shadow: 1px 1px black;
}

::placeholder {
  color: gold;
  text-shadow: 1px 1px black;
  text-align: center;
}

#submitNameButton {
  margin-top: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 40px;
  font-family: Chakra Petch;
  font-size: 1.1em;
  color: white;
  background-color: black;
  border: 2px solid grey;
}

#submitNameButton:hover {
  border-color: #00b300;
  cursor: pointer;
}

#writePlayerName {
  text-align: center;
  font-size: 26px;
  margin-top: 315px;
  color: white;
  text-shadow: 2px 2px black;
}

#classContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  margin-top: 150px;
  padding: 0;
}

.classDivs {
  display: inline-block;
  border: 5px dashed black;
  text-align: center;
  width: 190px;
  height: 220px;
  padding: 20px 10px 0px 10px;
  font-family: Courgette;
  font-size: 1.2em;
  margin-left: 20px;
  border-radius: 2%;
  background-color: #EFCDB2;
}

.classDivs .toolTipText {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
}

.classDivs:hover {
  color: #1A6C1A;
  text shadow: 1.5px 1.5px black;
  cursor: pointer;
}

.classDivs:hover .toolTipText {
  visibility: visible;
}

.classDivs img:hover {
  transform: scale(1.2);
}

/* HIDE RADIO BUTTON*/
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label img:hover {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 5px solid #1A6C1A;
}
